.cardImg {
    width: auto;
    border-radius: 10px;
}

.card {
    border: 1px black solid;
    padding: 15px;
    border-radius: 10px;
    flex-basis: 15%;
    background-color: bisque;
    transition: transform .5s ease;
}

.card:hover {
    transform: translateY(-60px) scale(1.2);
}

.card:active {
    transform: skewX(30deg);
}

.cardText {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    font-family:'Macondo Swash Caps';
}

#cardCtr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
}